<div class="container">
  <div class="row" style="background-color:tomato;">
      <div class="col-4"><h1><b>Company Name</b></h1></div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-lg-3" *ngIf="isLogged">
        <ul>
          <li type = "button" class="btn btn-success" (click)="Profile()">Ваш профиль</li>
          <li type = "button" class="btn btn-success" (click)="Chats()">Сообщения</li>
          <li type = "button" class="btn btn-success" (click)="Calendar()">Ваш календарь</li>
          <li type = "button" class="btn btn-success" (click)="Logout()">Выйти из системы</li>
        </ul>
      </div>
      <router-outlet></router-outlet>
  </div>
  </div>
